service firebase.storage {
  match /b/<your-firebase-storage-bucket>/o {
    match /images/{UID}/{allPaths=**} {
      allow write: if request.auth.uid == UID;
    }
  }
}